ha-fgfs_noderedflow.json
[
    {
        "id": "23a7b44627fd644b",
        "type": "tab",
        "label": "Homeassistant-FGFS",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e79458ac74a04c3f",
        "type": "mqtt in",
        "z": "23a7b44627fd644b",
        "name": "Listen on MQTT ",
        "topic": "fgfs/controls/#",
        "qos": "0",
        "datatype": "utf8",
        "broker": "0fe56b18f9beee5f",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 260,
        "y": 280,
        "wires": [
            [
                "6cea056815d2c2d9",
                "13235b2ecaf93872"
            ]
        ]
    },
    {
        "id": "13235b2ecaf93872",
        "type": "function",
        "z": "23a7b44627fd644b",
        "name": "Format for FlightGear",
        "func": "var topic = msg.topic;\nvar payload = msg.payload;\n\n// Convert payload to 1 or 0\nvar state = (payload === 'true' || payload === true || payload === 'ON' || payload === 'on') ? 1 : 0;\n\n// Check that topic starts with \"fgfs/\"\nif (!topic.startsWith('fgfs/')) return null;\n\n// Remove \"fgfs/\" from topic for FlightGear\nvar fgPath = topic.slice(5); // tar bort de första 5 tecknen \"fgfs/\"\n\n// Set payload for FlightGear\nmsg.payload = fgPath + ',' + state + '\\n';\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 740,
        "y": 280,
        "wires": [
            [
                "ce8ab740b366fb20",
                "850465ee1a56b127"
            ]
        ]
    },
    {
        "id": "ce8ab740b366fb20",
        "type": "debug",
        "z": "23a7b44627fd644b",
        "name": "Debug",
        "active": true,
        "tosidebar": true,
        "statusVal": "",
        "statusType": "auto",
        "x": 1130,
        "y": 360,
        "wires": []
    },
    {
        "id": "850465ee1a56b127",
        "type": "udp out",
        "z": "23a7b44627fd644b",
        "name": "UDP To FlightGear",
        "addr": "localhost",
        "iface": "",
        "port": "60000",
        "ipv": "udp4",
        "outport": "",
        "base64": false,
        "multicast": "false",
        "x": 1170,
        "y": 280,
        "wires": []
    },
    {
        "id": "6cea056815d2c2d9",
        "type": "debug",
        "z": "23a7b44627fd644b",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 220,
        "wires": []
    },
    {
        "id": "a9bb6ed1a76c1ecf",
        "type": "comment",
        "z": "23a7b44627fd644b",
        "name": "HA - FGFS UDP connection ",
        "info": "",
        "x": 300,
        "y": 220,
        "wires": []
    },
    {
        "id": "5567c977744f18b3",
        "type": "comment",
        "z": "23a7b44627fd644b",
        "name": "Add Entitys via MQTT auto-discovery",
        "info": "",
        "x": 330,
        "y": 560,
        "wires": []
    },
    {
        "id": "582f8099aa0c8c1c",
        "type": "function",
        "z": "23a7b44627fd644b",
        "name": "Auto Generate from xml list ",
        "func": "let msgs = [];\n\nif (!msg.payload.plane || !msg.payload.plane.switch) return null;\n\nmsg.payload.plane.switch.forEach(sw => {\n    let name = sw.$.name.trim();\n    let path = sw._.trim();\n\n    let id = name.toLowerCase().replace(/ /g, \"-\");\n\n    // Create Home Assistant discovery\n    msgs.push({\n        topic: `homeassistant/switch/fgfs_${id}/config`,\n        payload: JSON.stringify({\n            name: `FGFS ${name}`,\n            unique_id: `fgfs_${id}`,\n            command_topic: `fgfs/${path}`,   // direkt path\n            state_topic: `fgfs/${path}`,\n            payload_on: \"true\",\n            payload_off: \"false\",\n            state_on: \"true\",\n            state_off: \"false\"\n        }),\n        retain: true\n    });\n\n    // Send initial value to FG 1/0\n    let fgValue = 0;\n    if (msg.payload[id] === true || msg.payload[id] === \"true\") {\n        fgValue = 1;\n    }\n\n    msgs.push({\n        topic: `fgfs/${path}`,\n        payload: fgValue.toString(),\n        retain: true\n    });\n});\n\nreturn [msgs];",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 840,
        "y": 640,
        "wires": [
            [
                "e3e9a258c8f776ea"
            ]
        ]
    },
    {
        "id": "910ec072ec25d057",
        "type": "inject",
        "z": "23a7b44627fd644b",
        "name": "Starta auto-discovery",
        "props": [
            {
                "p": "payload",
                "v": "",
                "vt": "date"
            },
            {
                "p": "topic",
                "v": "",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "2",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 280,
        "y": 640,
        "wires": [
            [
                "a46d13655f9179df"
            ]
        ]
    },
    {
        "id": "e3e9a258c8f776ea",
        "type": "mqtt out",
        "z": "23a7b44627fd644b",
        "name": "MQTT Discovery",
        "topic": "",
        "qos": "0",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "0fe56b18f9beee5f",
        "x": 1090,
        "y": 640,
        "wires": []
    },
    {
        "id": "ab20cedc4976fcd0",
        "type": "xml",
        "z": "23a7b44627fd644b",
        "name": "",
        "property": "payload",
        "attr": "",
        "chr": "",
        "x": 650,
        "y": 640,
        "wires": [
            [
                "582f8099aa0c8c1c"
            ]
        ]
    },
    {
        "id": "a46d13655f9179df",
        "type": "template",
        "z": "23a7b44627fd644b",
        "name": "XML File ",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<?xml version=\"1.0\"?>\n<!-- Please note that leading/trailing white-space is ignored \n     This is just for clarity                                   -->\n<plane>                         Cessna 172P\n\n    <switch name=\"BATTERY\">     controls/switches/master-bat                </switch>\n    <switch name=\"ALT\">         controls/switches/master-alt                </switch>\n    <switch name=\"AVIONICS\">    controls/switches/master-avionics           </switch>\n    <switch name=\"FUELPUMP\">    controls/hydraulic/system/electric-pump     </switch>\n    <switch name=\"DEICE\">       controls/engines/current-engine/carb-heat   </switch>\n    <switch name=\"PITOTHEAT\">   controls/anti-ice/pitot-heat                </switch>\n    <switch name=\"COWLCLOSE\">   controls/engines/engine/cowl-flaps-norm     </switch>\n    <switch name=\"PANELLIGHT\">  controls/lighting/instruments-norm          </switch>\n    <switch name=\"BEACON\">      controls/lighting/beacon                    </switch>\n    <switch name=\"NAVLIGHTS\">   controls/lighting/nav-lights                </switch>\n    <switch name=\"STROBE\">      controls/lighting/strobe                    </switch>\n    <switch name=\"TAXI\">        controls/lighting/taxi-light                </switch>\n    <switch name=\"LANDING\">     controls/lighting/landing-lights            </switch>\n\n    <!-- Following enables the Gear up/down lever to operate the engine \n         primer, only on the Cessna 172P. Use on other aircraft will give\n         a (non-fatal) Nasal error in the simulator.                              -->\n\n    <switch name=\"GEARUP\">      controls/engines/engine/primer-lever        </switch> \n\n    <magnetos>                  controls/switches/magnetos                  </magnetos>\n    <starter>                   controls/switches/starter                   </starter>\n\n</plane>\n\n        \n",
        "output": "str",
        "x": 500,
        "y": 640,
        "wires": [
            [
                "ab20cedc4976fcd0"
            ]
        ]
    },
    {
        "id": "0fe56b18f9beee5f",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    }
]